[submodule ".config/zsh-completions"]
	path = home/.config/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".config/fzf"]
	path = home/.config/fzf
	url = git@github.com:junegunn/fzf.git
