---
- name: Install dev environment
  hosts: localhost
  vars_files:
    - packages.yml
  tasks:
    - name: Update package cache
      become: true
      pacman:
        update_cache: true
      changed_when: false

    - name: Install rust
      ansible.builtin.command:
        chdir: ~/.dotfiles
        cmd: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | RUSTUP_INIT_NON_INTERACTIVE=true RUSTUP_DEFAULT_TOOLCHAIN="nightly" sh

    - name: Install development tools
      become: true
      kewlfft.aur.aur:
        name: "{{ dev_packages }}"
        use: yay
        state: present

    - name: Install tool configs
      ansible.builtin.command:
        chdir: ~/.dotfiles
        cmd: ./install.sh

    - name: Update all packages
      become: true
      kewlfft.aur.aur:
        upgrade: true
        use: yay
        state: present
      changed_when: false
      when: update | default(false) | bool
