name: Dotfiles Integration Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Create local.nix file
        run: |
          cat <<EOF > home/local.nix
          {
            username = "runner";
            homeDirectory = "/home/runner";
          }
          EOF
      - run: nix flake check
      - run: nix flake update
      - run: nix develop
      - run: |
          nix develop --command bash -c "home-manager switch --flake . && sh ./tests/test-dependency.sh zsh stow nvim rustup"
