name: Dotfiles Integration Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - run: nix build
      - run: nix flake check
      - run: nix flake update
      - run: nix develop
      - run: home-manager switch --flake .
      - run: sh ./tests/test-dependency zsh stow nvim rustup
